@{
    ViewData["Title"] = "Home";
}

@section Links {
    <link rel="stylesheet" href="~/css/homepage-styles.css" />
}

<div class="container-fluid h-100">
    <div class="row h-100 align-items-center">
        <div class="col-md-6 p-3 text-center">
            <img id="home-icon" class="img-fluid" src="~/resources/images/iAttend-Home-Design.svg" />
        </div>
        <div class="col-md-6">
            <div class="border-div">
                <h1>Track Your Attendance</h1>
                <p class="homepage-subtext">iAttend makes it easy to track attendance at any event you are attending or hosting.</p>
                <div class="row">
                    <div class="col input-wrapper" style="min-width: 185px;">
                        <input type="text" id="email" class="fl-input" placeholder="Email address" />
                        <label for="email" class="fl-input-label">Email address</label>
                        <p class="subtext">Already using iAttend? <a asp-controller="Account" asp-action="Login">Sign in</a>.</p>
                    </div>
                    <div class="col-sm-auto" style="margin-top: 11px;">>
                        <input id="submit-get-started" type="submit" value="Get Started" />
                </div>
            </div>
        </div>
    </div>
</div>