main {
    background: rgb(85,22,168);
    background: linear-gradient(125deg, rgba(85,22,168,1) 25%, rgba(180,61,207,1) 100%);
}

h1 {
    line-height: 0.8em;
    text-align: center;
}

.homepage-subtext {
    margin-top: 25px;
    margin-bottom: 10px;
}

div.border-div {
    width: 80%;
    max-width: 650px;
    word-wrap: break-word;
}

.input-wrapper {
    margin-top: 10px;
    margin-bottom: 0px;
}

.subtext {
    margin-bottom: 0px;
}

@media only screen and (min-width: 1203px) {
    #home-icon {
        max-height: 60vh;
    }
}

@media only screen and (max-width: 1031px) {
    div.border-div {
        width: 90%;
    }

    h1 {
        font-size: 42pt;
    }
}

@media only screen and (max-width: 767px) {
    #home-icon {
        max-width: 60vw;
    }

    div.border-div {
        width: 80%;
    }

    h1 {
        font-size: 36pt;
    }
}

@media only screen and (max-width: 351px) {
    div.border-div {
        width: 90%;
    }

    h1 {
        font-size: 30pt;
    }
}